<nav class="navbar">
    <ul class="navlist">
        <li class="navtab"><img src="images/logo.png"></li>
        <li class="navtab"><a href="/">Drinks</a></li>
        <li class="navtab"><a href="/addDrink">Add Drink</a></li>
        <li class="navtab">
            <form action="/" method="post">
                <input type="text" placeholder="Search" name="searchValue" id="search-bar" value="">
            </form>
        </li>
    </ul>
</nav>
