<div class="add-container" >
<form action="/add" method="post">
    <div class="insert">
    <div class ="add-header">
        <p class="make-drink-header">Be Your Own Mixologist</p>
        <p class="instructions">Start here:</p>
        
    </div> 
        <div class="add-body">
        <div class="drink-input">
        <label for="drinkName">Drink Name:</label><br>
        <input type="text" id="drinkNameTextBox" name="drinkName" value=""><br>
        </div>
        <div class="drink-input">
        <label for="drinkIngredients">Ingredients:</label><br>
        <input type="text" id="drinkIngTextBox" name="drinkIngredients" value="" placeholder="Ex: Whiskey,Simple Syrup,Lemon"><br>
        </div>
        <div class="drink-input">
        <label for="drinkRecipe">Recipe:</label><br>
        <input type="text" id="drinkRecipeTextBox" name="drinkRecipe" value=""><br>
        </div>

    <input type="submit" class="add-button" value="Finished!">
    </div>
    </div>

</form>
</div>
